{% extends 'base.html' %}

 {% block content %}
 <!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">About FJ ADMIN </h1>
          <p class="lead fw-normal text-white-50 mb-0">
            Welcome to FJ Admin!...
          </p>
        </div>
      </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class ="col-8">
                    <p align="justify">
                        <br/><br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla, urna sed tristique feugiat, magna diam scelerisque mi, at pellentesque dui elit id dui. Proin ut eros non turpis mattis venenatis. In ultricies enim in nisi fringilla, vitae cursus eros varius. Cras placerat fermentum mauris vel vehicula. Curabitur gravida lacus ac egestas consequat. Vestibulum tristique nibh fermentum aliquet ultrices. Nunc ut quam nisi. Quisque iaculis molestie mauris eget dignissim. Nulla eu purus vel quam porttitor rhoncus quis et massa. Nunc mattis maximus nisi, id vehicula lacus finibus ut. Ut varius sit amet nisl eu consequat.
<br/><br/>
Suspendisse potenti. Nulla vulputate tellus ut libero efficitur elementum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer id maximus sapien, ac commodo ex. Nunc quis tortor nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur et justo eu diam sodales posuere a et purus. Suspendisse ultrices ullamcorper elementum. Mauris in mi sed arcu posuere mollis nec nec lectus. Integer sapien ex, malesuada non tincidunt sed, rhoncus vel enim. Sed dictum tellus maximus viverra imperdiet. Sed vitae egestas libero. Suspendisse vulputate tristique ornare. Aliquam ut tincidunt tortor, sed fermentum ante. Curabitur aliquet molestie lorem, a sodales tellus bibendum in.
<br/><br/>
Integer ac nulla consectetur nunc venenatis pellentesque. Mauris porttitor purus ut purus condimentum, in sagittis nisi rutrum. Duis vitae justo id lectus imperdiet scelerisque. Aenean sed auctor justo. Quisque consequat turpis ut pulvinar euismod. Proin ultricies id lacus ut tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Maecenas id libero nec risus ornare mollis. Sed tristique risus vehicula arcu dictum tincidunt. Phasellus ultrices porta lacus elementum lacinia.</div>
</p>
            </center>
        </div>
        </div>
 {% endblock %}